<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DSSwiftExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>13B103D21CFFD621000A7318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13B103E61CFFD621000A7318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13B103F11CFFD622000A7318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
